# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import csv
import os
import pandas as pd
import numpy as np

school_data_csv = 'Resources/schools_complete.csv'
student_data_csv = 'Resources/students_complete.csv'

school_data = pd.read_csv(school_data_csv)
student_data = pd.read_csv(student_data_csv)

complete_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

### District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
total_num_schools = school_data["school_name"].count()
total_num_students = student_data["student_name"].count()
total_budget = complete_data["budget"].sum()
avg_math_score = complete_data["math_score"].mean()
avg_reading_score = complete_data["reading_score"].mean()

overall_passing_rate = ((avg_math_score + avg_reading_score)/2)

passing_math = complete_data.loc[(complete_data["math_score"] >= 70)]
num_passing_math = passing_math["math_score"].count()
percent_passing_math = (100*(num_passing_math/total_num_students))

passing_reading = complete_data.loc[(complete_data["reading_score"] >= 70)]
num_passing_reading = passing_reading["reading_score"].count()
percent_passing_reading = (100*(num_passing_reading/total_num_students))

Summarized_data = {"Total Number of Schools"                           : total_num_schools,
                   "Total Number of Students"                          : total_num_students,
                   "Total Budget"                                      : total_budget,
                   "Average Math Score"                                : avg_math_score,
                   "Average Reading Score"                             : avg_reading_score,
                   "Overall Passing Rate"                              : overall_passing_rate,
                   "Percentage of Students with Passing Math Score"    : percent_passing_math,
                   "Percentage of Students with Passing Reading Score" : percent_passing_reading,
                   }

Summarized_data_df = pd.DataFrame([Summarized_data])
Summarized_data_df = Summarized_data_df[["Total Number of Schools","Total Number of Students","Total Budget","Average Math Score","Average Reading Score","Overall Passing Rate","Percentage of Students with Passing Math Score","Percentage of Students with Passing Reading Score"]]
Summarized_data_df

,Total Number of Schools,Total Number of Students,Total Budget,Average Math Score,Average Reading Score,Overall Passing Rate,Percentage of Students with Passing Math Score,Percentage of Students with Passing Reading Score
0,15,39170,82932329558,78.985371,81.87784,80.431606,74.980853,85.805463

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [3]:
School_Names = school_data["school_name"]
School_Type = school_data.set_index(["school_name"])["type"]
Num_Students_By_School = complete_data["school_name"].value_counts()
Budget_By_School = school_data.groupby(["school_name"]).sum()["budget"]
Budget_Per_Student = Budget_By_School/Num_Students_By_School
Avg_Math_Score_By_School = round(complete_data.groupby(["school_name"]).mean()["math_score"],2)
Avg_Reading_Score_By_School = round(complete_data.groupby(["school_name"]).mean()["reading_score"],2)

Overall_Passing_Rate_By_School = ((Avg_Math_Score_By_School + Avg_Reading_Score_By_School)/2)

passing_math_by_school = complete_data.loc[(complete_data["math_score"] >= 70)]
num_passing_math_by_school = passing_math_by_school.groupby(["school_name"]).count()["student_name"]
percent_passing_math_by_school = round((num_passing_math_by_school/Num_Students_By_School)*100,2)

passing_reading_by_school = complete_data.loc[(complete_data["reading_score"] >= 70)]
num_passing_reading_by_school = passing_reading_by_school.groupby(["school_name"]).count()["student_name"]
percent_passing_reading_by_school = round((num_passing_reading_by_school/Num_Students_By_School)*100,2)


Summarized_Data_By_School = pd.DataFrame({"School Type": School_Type,
                            "Number of Students by School": Num_Students_By_School,
                            "Budget by School": Budget_By_School,
                            "Budget Per Student": Budget_Per_Student,
                            "Average Math Score by School": Avg_Math_Score_By_School,
                            "Average Reading Score by School": Avg_Reading_Score_By_School,
                            "Overall Passing Rate by School": Overall_Passing_Rate_By_School,
                            "Percentage of Students with Passing Math Score by School": percent_passing_math_by_school,
                            "Percentage of Students with Passing Reading Score by School": percent_passing_reading_by_school
                            })
Summarized_Data_By_School

,School Type,Number of Students by School,Budget by School,Budget Per Student,Average Math Score by School,Average Reading Score by School,Overall Passing Rate by School,Percentage of Students with Passing Math Score by School,Percentage of Students with Passing Reading Score by School
Bailey High School,District,4976,3124928,628.0,77.05,81.03,79.040,66.68,81.93
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,83.520,94.13,97.04
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,78.935,65.99,80.74
Ford High School,District,2739,1763916,644.0,77.10,80.75,78.925,68.31,79.30
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,83.585,93.39,97.14
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,79.110,66.75,80.86
Holden High School,Charter,427,248087,581.0,83.80,83.81,83.805,92.51,96.25
Huang High School,District,2917,1910635,655.0,76.63,81.18,78.905,65.68,81.32
Johnson High School,District,4761,3094650,650.0,77.07,80.97,79.020,66.06,81.22
Pena High School,Charter,962,585858,609.0,83.84,84.04,83.940,94.59,95.95
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,78.790,66.37,80.22
Shelton High School,Charter,1761,1056600,600.0,83.36,83.73,83.545,93.87,95.85
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,83.635,93.27,97.31
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,83.630,93.87,96.54
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,83.820,93.33,96.61

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [4]:
Top_Performing_Schools = Summarized_Data_By_School.sort_values(["Overall Passing Rate by School"],ascending = False).head(5)
Top_Performing_Schools

,School Type,Number of Students by School,Budget by School,Budget Per Student,Average Math Score by School,Average Reading Score by School,Overall Passing Rate by School,Percentage of Students with Passing Math Score by School,Percentage of Students with Passing Reading Score by School
Pena High School,Charter,962,585858,609.0,83.84,84.04,83.940,94.59,95.95
Wright High School,Charter,1800,1049400,583.0,83.68,83.96,83.820,93.33,96.61
Holden High School,Charter,427,248087,581.0,83.80,83.81,83.805,92.51,96.25
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,83.635,93.27,97.31
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,83.630,93.87,96.54

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [5]:
Bottom_Performing_Schools = Summarized_Data_By_School.sort_values(["Overall Passing Rate by School"],ascending = False).tail(5)
Bottom_Performing_Schools

,School Type,Number of Students by School,Budget by School,Budget Per Student,Average Math Score by School,Average Reading Score by School,Overall Passing Rate by School,Percentage of Students with Passing Math Score by School,Percentage of Students with Passing Reading Score by School
Johnson High School,District,4761,3094650,650.0,77.07,80.97,79.020,66.06,81.22
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,78.935,65.99,80.74
Ford High School,District,2739,1763916,644.0,77.10,80.75,78.925,68.31,79.30
Huang High School,District,2917,1910635,655.0,76.63,81.18,78.905,65.68,81.32
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,78.790,66.37,80.22

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
Math_Scores_By_Grade = round(complete_data.groupby(["grade"]).mean()["math_score"],2)
Math_Scores_By_Grade

grade
10th    78.94
11th    79.08
12th    78.99
9th     78.94
Name: math_score, dtype: float64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
Reading_Scores_By_Grade = round(complete_data.groupby(["grade"]).mean()["reading_score"],2)
Reading_Scores_By_Grade

grade
10th    81.87
11th    81.89
12th    81.82
9th     81.91
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
Summarized_Data_By_School["Scores by School Spending"] = pd.cut(Budget_Per_Student,spending_bins,labels = group_names)

In [9]:
Math_Scores_By_Spending = round(Summarized_Data_By_School.groupby(["Scores by School Spending"]).mean()["Average Math Score by School"],2)
Reading_Scores_By_Spending = round(Summarized_Data_By_School.groupby(["Scores by School Spending"]).mean()["Average Reading Score by School"],2)
Percent_Passed_Math_by_Spending = round(Summarized_Data_By_School.groupby(["Scores by School Spending"]).mean()["Percentage of Students with Passing Math Score by School"],2)
Percent_Passed_Reading_by_Spending = round(Summarized_Data_By_School.groupby(["Scores by School Spending"]).mean()["Percentage of Students with Passing Reading Score by School"],2)
Overall_Passed_by_Spending = ((Percent_Passed_Math_by_Spending + Percent_Passed_Reading_by_Spending)/2)


Scores_by_Spending = pd.DataFrame({"Math Scores by Spending":Math_Scores_By_Spending,
                                     "Reading Scores by Spending":Reading_Scores_By_Spending,
                                     "Percent Passed Math by Spending":Percent_Passed_Math_by_Spending,
                                     "Percent Passed Reading by Spending":Percent_Passed_Reading_by_Spending,
                                     "Overall Passed by Spending":Overall_Passed_by_Spending})
Scores_by_Spending

,Math Scores by Spending,Reading Scores by Spending,Percent Passed Math by Spending,Percent Passed Reading by Spending,Overall Passed by Spending
Scores by School Spending,,,,,
<$585,83.45,83.94,93.46,96.61,95.035
$585-615,83.60,83.88,94.23,95.90,95.065
$615-645,79.08,81.89,75.67,86.11,80.890
$645-675,77.00,81.03,66.16,81.13,73.645

## Scores by School Size

* Perform the same operations as above, based on school size.

In [10]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
Summarized_Data_By_School["School Size"] = pd.cut(Summarized_Data_By_School["Number of Students by School"],size_bins,labels = group_names)

In [11]:
Math_Scores_By_Size = Summarized_Data_By_School.groupby(["School Size"]).mean()["Average Math Score by School"]
Reading_Scores_By_Size = Summarized_Data_By_School.groupby(["School Size"]).mean()["Average Reading Score by School"]
Percent_Passed_Math_by_Size = Summarized_Data_By_School.groupby(["School Size"]).mean()["Percentage of Students with Passing Math Score by School"]
Percent_Passed_Reading_by_Size = Summarized_Data_By_School.groupby(["School Size"]).mean()["Percentage of Students with Passing Reading Score by School"]
Overall_Passed_by_Size = Summarized_Data_By_School.groupby(["School Size"]).mean()["Overall Passing Rate by School"]



Scores_by_Size = pd.DataFrame({"Math Scores by Size":Math_Scores_By_Size,
                                "Reading Scores by Size":Reading_Scores_By_Size,
                                "Percent Passed Math by Size":Percent_Passed_Math_by_Size,
                                "Percent Passed Reading by Size":Percent_Passed_Reading_by_Size,
                                "Overall Passed by Size":Overall_Passed_by_Size})

Scores_by_Size

,Math Scores by Size,Reading Scores by Size,Percent Passed Math by Size,Percent Passed Reading by Size,Overall Passed by Size
School Size,,,,,
Small (<1000),83.820,83.92500,93.55000,96.10000,83.872500
Medium (1000-2000),83.374,83.86800,93.59800,96.79000,83.621000
Large (2000-5000),77.745,81.34375,69.96375,82.76625,79.544375

## Scores by School Type

* Perform the same operations as above, based on school type.

In [12]:
Math_Scores_By_Type = Summarized_Data_By_School.groupby(["School Type"]).mean()["Average Math Score by School"]
Reading_Scores_By_Type = Summarized_Data_By_School.groupby(["School Type"]).mean()["Average Reading Score by School"]
Percent_Passed_Math_by_Type = Summarized_Data_By_School.groupby(["School Type"]).mean()["Percentage of Students with Passing Math Score by School"]
Percent_Passed_Reading_by_Type = Summarized_Data_By_School.groupby(["School Type"]).mean()["Percentage of Students with Passing Reading Score by School"]
Overall_Passed_by_Type = Summarized_Data_By_School.groupby(["School Type"]).mean()["Overall Passing Rate by School"]

In [13]:
Scores_by_Type = pd.DataFrame({"Math Scores by Type":Math_Scores_By_Type,
                                "Reading Scores by Type":Reading_Scores_By_Type,
                                "Percent Passed Math by Type":Percent_Passed_Math_by_Type,
                                "Percent Passed Reading by Type":Percent_Passed_Reading_by_Type,
                                "Overall Passed by Type":Overall_Passed_by_Type})

Scores_by_Type

,Math Scores by Type,Reading Scores by Type,Percent Passed Math by Type,Percent Passed Reading by Type,Overall Passed by Type
School Type,,,,,
Charter,83.472500,83.897500,93.620000,96.586250,83.685000
District,76.955714,80.965714,66.548571,80.798571,78.960714